<!doctype html>
<title>Hello visitor</title>
<style>
  body { text-align: center; padding: 150px; }
  h1 { color: #3371E3; font-size: 50px; }
  body { font: 20px Helvetica, sans-serif; color: #333; }
  article { display: block; text-align: left; width: 650px; margin: 0 auto; }
  a { color: #3371E3; text-decoration: none; }
  a:hover { color: #333; text-decoration: none; }
</style>

<article>
    <h1>Hello visitor!</h1>
    <div>
        <p>This site is powered by Flask and hosted on <a href="https://kubernetes.io">Kubernetes</a></p>
        <p>&mdash; The Team</p>
    </div>
</article>
